 .Footer{
     background-color: black;
     margin-top: 10%;
     height: 650px;
 }

 .hours{
     color: white;
 }


.Flex1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.Flex2{

    display: flex;
    justify-content: space-evenly;
}

.Location{
    color: white;
}
.Contact{
    color: white;

}

h2{
  
        margin-bottom: 0px;
        text-rendering: optimizelegibility;
        font-family: 'EB Garamond', serif;        
        font-size: 28px;
        letter-spacing: 0.02em;
        line-height: 1.5em;
        text-transform: none;
        margin-top: 15px;
        color: white;
        text-align: center;
        white-space: pre-wrap;

}
.copyright{
    margin-top: 70px;
    color: white;
    font-size: 24px;
}

