h1 {
	font-size: 60px;
	margin: 0.67em 0px;
	margin-top: 0px;
	text-rendering: optimizelegibility;
	font-family: nimbus-sans;
	font-weight: 700;
	font-style: normal;
	letter-spacing: -2px;
	line-height: 1.5em;
	text-transform: none;
	color: rgb(23, 23, 23);
	text-align: center;
	white-space: pre-wrap;
}

.p1 {
	text-rendering: optimizelegibility;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	letter-spacing: 0.02em;
	line-height: 1.5em;
	text-transform: none;
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
	color: rgb(23, 23, 23);
	text-align: center;
    white-space: pre-wrap;
    

}

.p2 {
	margin-bottom: 0px;
	text-rendering: optimizelegibility;
	font-family: adobe-garamond-pro;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	letter-spacing: 0.02em;
    line-height: 1.5em;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
	text-transform: none;
	color: rgb(23, 23, 23);
	text-align: center;
    white-space: pre-wrap;

}
